<!-- <h1>Pages#answer</h1>
<p>Find me in app/views/pages/answer.html.erb</p> -->
<h1>Stupid Coach</h1>

<h2>Your answer</h2>
<p><%= @question %></p>
<h2>Your coach's answer</h2>
<p><%= @answer %></p>

<%= link_to 'ask a new question', question_page_path %>
